body {
    margin-left: 0px
}

img {
    width: 100%;

}


.carusel {
    position: relative;
}

.controls {
    position: absolute;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: repeat(3, auto);
}

.back-n-fourth {
    display: flex;
    justify-content: space-between;
    grid-row: 2 / 3;
}

.gallery {
    display: flex;
    width: fit-content;
}

.image {
    background-color: rgb(179, 143, 179);
    border: 1px solid darkslategray;

    height: 98vh;
    width: 100vw;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.image > * {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    font-size: 100px;
}

.image {
    display: none;
}
.image[data-current="true"]{
    display: grid;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}